/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
  margin: 0;
  width: 100%;
}

.loader {
    display: block;
    margin: auto;
    margin-top:50%;
    animation: spin 2s linear infinite;
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-aspect-ratio: 1/1) {
    .loader {
    margin-top:25%;
    }
}