.main-card{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    height: auto;
}

.case{
    width: 8.5%;
    max-width: 1.8em;
    height: 6%;
    max-height: 2em;
    text-align: center;
    font-size: 2em;
    font-family: 'Pacifico';
    border: 1px solid black;
    margin: 0;
}

.sudoku-grid{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.thick-border-right{
    border-right: 4px solid black;
}

.thick-border-left{
    border-left: 4px solid black;
}

.thick-border-top{
    border-top: 4px solid black;
}

.thick-border-bottom{
    border-bottom: 4px solid black;
}
