.main-card{
    position:absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    width: 80%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    height: 80%;
}

.case{
    width: 8.5%;
    max-width: 1.8em;
    max-height: 5%;
    /*max-height: 2em;*/
    text-align: center;
    font-size: 1.5em;
    font-family: 'Pacifico';
    border: 1px solid black;
    margin: 0;
}

.sudoku-grid{
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    height: 80%;
    z-index: -1;
}
.buttons{
    width: 56px;
    float:right;
}

.thick-border-right{
    border-right: 4px solid black;
}

.thick-border-left{
    border-left: 4px solid black;
}

.thick-border-top{
    border-top: 4px solid black;
}

.thick-border-bottom{
    border-bottom: 4px solid black;
}
