<md-card class="main-card">
    <div class="buttons">
    <button md-fab primary style="margin:2px" (click)="updateAllowedValues()">Solve</button>
    <button md-fab primary style="margin:2px" (click)="openCameraDialog()">
        <md-icon>photo_camera</md-icon>
    </button>
  </div>
  <br>
    <div class="sudoku-grid">
        <div *ngFor="let row of gridObj, let indexy = index;trackBy:trackByIndex;">
            <input *ngFor="let cell of row, let index = index;trackBy:trackByIndex;" 
                    class="case" maxlength="1" type="text" 
                    [(ngModel)]="cell.value" 
                    [ngClass]="{
                        'empty-cell': cell.cellType==='emptyCell',
                        'thick-border-right': (index+1)%3===0,
                        'thick-border-left': index===0, 
                        'thick-border-top': indexy==0, 
                        'thick-border-bottom': (indexy+1)%3===0}" 
                    (keyup)="onKey($event,indexy,index)" disabled>
        </div>
    </div>
</md-card>